.Navig {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;

}


.Naviga {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  margin-left: 3px !important;
}

nav :hover {


  color: black !important;
  background: #bababa !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  border-bottom-width: thick !important;

}

nav :focus {


  color: black !important;
  background: #EE0053 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  margin-left: 3px !important;
}
