<ul class="dcps">
<section *ngIf="user?.role === 'admin'">
      <mat-form-field>

        <input matInput placeholder="Search dcps" #input>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div>

<nav mat-tab-nav-bar>
 <!-- <mat-tab label="Film"> </mat-tab>-->
    <a mat-tab-link class="Navig" label="Movie" [routerLink]="['/home']"> Film </a>
  <a mat-tab-link class="Naviga" label="Dcp" [routerLink]="['/dcp']"> DCP </a>
    <a mat-tab-link class="Naviga" label="Sortie" [routerLink]="['/sortie-national']"> Sortie National </a>
     <a mat-tab-link class="Naviga" label="Sortie" [routerLink]="['/selection']"> Selection </a>
</nav>

  <div class="mat-elevation-z8 app-dcps-list">
    
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">

      <ng-container matColumnDef="id"> 
        <th mat-header-cell *matHeaderCellDef >Id</th>
        
        <td mat-cell *matCellDef="let dcp">{{dcp.id}}</td>
      
      </ng-container>

     <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        
        <td mat-cell *matCellDef="let dcp">

        <a routerLink="/dcp/detail/{{dcp.id}}">{{dcp.name}}</a></td>

      </ng-container>

     <!-- <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef>Type </th>
                <td mat-cell *matCellDef="let ...">
                </td>
            </ng-container>

             <ng-container matColumnDef="movie">
                <th mat-header-cell *matHeaderCellDef>Movie</th>
                <td mat-cell *matCellDef="let movie">
                <a routerLink="/movie/detail/{{movie.id}}">{{movie.title}}
                </a></td>
            </ng-container>-->


      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Option</th>
           
        <td mat-cell *matCellDef="let dcp">    
             
        <button  mat-raised-button color="warn" class="delete" (click)="delete(dcps_s)">Supprimer</button> 
        <button  mat-raised-button color="link" routerLink="/dcp/edit/{{dcp.id}}">Editer</button></td>
        
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let dcp; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator
      [length]="nbDcps"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>

  </div>
</section>
</ul>
