<ul class="dcp">
	<ul>
		<button mat-raised-button color="primary" routerLink="./dcp/new"
		routerLinkActive="active">
		Ajouter un DCP
	</button>
	<button mat-raised-button color="primary" (click)="OnScan()">Scanner le dossier DCP</button>


	</ul>

		<app-diskusage> </app-diskusage>

	<mat-form-field>

		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search dcps" #input>
	</mat-form-field>

	<table mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="id">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>Id</th>
			<td mat-cell *matCellDef="let dcp">{{dcp.id}}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>DCP</th>
			<td mat-cell *matCellDef="let dcp">
				<span>
				<a [routerLink]="['dcp/'+ dcp.id]">
					{{dcp.name}}  <app-icon-ciffer [dcp]="dcp"> </app-icon-ciffer>
				</a>


					</span>
					</td>
		</ng-container>

		<ng-container matColumnDef="contentkind">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Type</th>
			<td mat-cell *matCellDef="let dcp">
				{{dcp.contentkind }}
			</td>
		</ng-container>

		<ng-container matColumnDef="valid">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Validité</th>
			<td mat-cell *matCellDef="let dcp">
				{{ dcp.valid }}
			</td>
		</ng-container>

		<ng-container matColumnDef="size">
			<th mat-header-cell *matHeaderCellDef class="onglet">Taille</th>
			<td mat-cell *matCellDef="let dcp">
				{{ dcp.size | filesize }}
			</td>
		</ng-container>

		<ng-container matColumnDef="ingest_dcp_state_name">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header> Etat </th>
			<td mat-cell *matCellDef="let dcp">
				<app-show-state [dcp]="dcp"> </app-show-state>
			</td>
		</ng-container>

		<ng-container matColumnDef="ingest_dcp_date">
					<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>date ingest</th>
					<td mat-cell *matCellDef="let dcp">
						{{dcp.ingest_dcp_date  | date : 'dd MMM y'}}
					</td>
				</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="onglet">Action</th>
			<td mat-cell *matCellDef="let dcp">
				<button mat-raised-button color="warn" (click)="delete(dcp)" >supprimer</button>
				<div *ngIf="dcp.ingest_dcp_state_name==='NOT_DONE'">
					<button mat-raised-button color="primary" (click)="onIngest(dcp)" >Ingest</button>
				</div>
				<div *ngIf="dcp.ingest_dcp_state_name==='OK'">
					<div *ngIf="dcp.on_seed ; else elseBlock ">
						<button mat-raised-button color="primary" (click)="onSeed(dcp)" > Seeding!</button>
					</div>
					<ng-template #elseBlock>
						<button mat-raised-button color="accent" (click)="onSeed(dcp)" > Not seeding</button>
					</ng-template>

						{{dcp.on_seed}}
				</div>


			</td>
		</ng-container>
		<ng-container matColumnDef="on_seed_active">
					<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Active seed</th>
					<td mat-cell *matCellDef="let dcp">
						{{dcp.on_seed_active}}
					</td>
				</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let dcp; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]">
	</mat-paginator>

</ul>
