<div id="search-component">
	<h4>Recherche du film</h4>

		<input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

	<ul class="search-result">
		
		<li *ngFor="let dcp of dcps$ | async" >
			<a routerLink="dcp/detail/{{dcp.id}}">{{dcp.name}}</a>
		</li>
	
	</ul>
</div>