<mat-card>
  <mat-card-header>
    Paramètres
  </mat-card-header>
  <mat-card-content>
  <ul>
    <li> Emplacement DCP <strong> {{parameters.dcp_path}} </strong> </li>
    <li> Emplacement torrent  <strong> {{parameters.torrent_path}} </strong> </li>
  </ul>
  </mat-card-content>
</mat-card>
