  <div *ngIf="dcp.encrypted; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <mat-icon matBadgeColor="warn">lock</mat-icon>
  </ng-template>
  <ng-template #elseBlock>
    <mat-icon matBadgeColor="warn">lock_open</mat-icon>
  </ng-template>
