<section class="cine-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="title text-center text-md-left">Tuco: plateforme sécurisée pour la distribution de Film en dématérialisé</h3>
      </div>
      <div class="col-12 col-sm-6">
          <div class="form-container">
              <div class="form-sign">
                <mat-card>
                  <mat-card-title>
                      Inscription
                  </mat-card-title>
                  <mat-form-field class="width-100">
                    <input matInput placeholder="Email">
                  </mat-form-field><br>
                  <mat-form-field class="width-100">
                    <input matInput type="password" placeholder="Password">
                  </mat-form-field>
                  <div class="button-footer justify-content-end">
                    <button mat-raised-button>S'inscrire</button>
                  </div>
                </mat-card>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

