  <button mat-raised-button color="primary" routerLink="./new">Ajouter un Distributeur</button>

  <br>

  <mat-form-field>

        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search Distributors" #input >

  </mat-form-field>

  <div class="mat-elevation-z8 app-distributors-list">
    
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">

      <ng-container matColumnDef="distributorname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Name</th>
        <td mat-cell *matCellDef="let distributors">
         <a [routerLink]="[distributors.id]">{{distributors.name}}</a></td>
      </ng-container>

         <ng-container matColumnDef="cnc_code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Code CNC</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.cnc_code}}</td>
      </ng-container>

      <ng-container matColumnDef="contact">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Contact</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.contact}}</td>
      </ng-container>

        <ng-container matColumnDef="dcpbay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">dcpbay</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.isdcpbay}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef  class="onglet">Option</th>
        <td mat-cell *matCellDef="let distributor">    
          <button  mat-raised-button color="warn" class="delete" (click)="delete(distrib_s)">Supprimer</button>
          <button  mat-raised-button color="link" [routerLink]="[distributor.id]">Editer</button></td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let distributor; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>