.onglet   {
  background-color: #EEE;
  font : caption;
  padding-right: 150px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.distributors li {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.distributors tr {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}


.onglet   {
    background-color: #EEE;
    font: caption;
    padding-right: 350px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.distributors li:hover {
  color: #607D8B;
  
  left: .1em;
}

.distributors tr:hover {
  color: #607D8B;

  left: .1em;
}


.distributors a {
  color: #888;
  text-decoration: none;
  display: block;
}

.distributors a:hover {
  color:#015d86;
}

.distributors .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #0173ab;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}



.distributors li.selected {
  background-color:;
  color: white;
}
.distributors li.selected:hover {
  background-color: #BBD8DC;
}