<div class="user-section" *ngIf="exhibitor">  
<mat-card class="AffExhib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">


  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width: 300px;margin-bottom: 5px;">
    
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
          <strong>Nom:</strong>
          {{exhibitor.name}}</p>
                   
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Numéro CNC:</strong>
          {{exhibitor.cncid}}</p>
                   
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Login:</strong>
          {{currentUser.login}}</p>          
          
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Mail:</strong>
          {{currentUser.email}}</p>
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Numéro :</strong>
          {{exhibitor.phone}}</p> 
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Contact :</strong>
          {{exhibitor.contact}}</p>
         
       
        
        <div>  
        <button mat-raised-button color="link" routerLink="/exhibitors/edit/{{exhibitor.id}}">Editer</button>
        <button  mat-raised-button color="warn" class="delete" (click)="delete(exhibitor.id)">Supprimer</button>
          <button mat-raised-button color="link" (click)="goBack()">Retour</button>
        </div>        
          
          </div>
          
          <div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="width: 300px; margin-bottom: 51px;">
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Code :</strong>
           {{exhibitor.zipcode}}</p>

          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Addresse :</strong>
          {{exhibitor.address}}</p>

          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Ville :</strong>
          {{exhibitor.city}}</p>  
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Département :</strong>
          {{exhibitor.dept}}</p>   
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Nombre d'écrans :</strong>
          {{exhibitor.nbscreens}}</p>  
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>ip tinc :</strong>
          {{exhibitor.iptinc}}</p>    
          
          <p class="title-desc"  style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Free space :</strong>
          {{exhibitor.free_space}}</p> 
        </div>   


</mat-card> 

</div>
