<h2>LOGIN</h2>
<p>{{message}}</p>


<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="input-group">
        <mat-form-field>
            <input matInput type="text" formControlName="username" class="form-control" placeholder="Login" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
        </mat-form-field>
        <span class="input-group-btn">
            <button  mat-raised-button class="btn btn-secondary" type="submit">OK</button>
        </span>
    </div>
</form>


<p>

  <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>
