  <mat-form-field>

		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search movies" #input >

  </mat-form-field>


    <div class="mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"  aria-label="DCP">
            <ng-container matColumnDef="affiche">
                <th mat-header-cell *matHeaderCellDef class="onglet">Affiche</th>
                <div class="cell-list">
                <td mat-cell *matCellDef="let movie">
                    <img width="80px;" height="100px;" src="assets/img/img-{{movie.id}}.jpg" onerror="this.src='/assets/img/default.png'" />
                    <a routerLink="/exploitant/movie/detail/{{movie.id}}">
                    </a></td></div>
            </ng-container>


               <ng-container matColumnDef="demander" >
                <th mat-header-cell *matHeaderCellDef class="onglet">Demander le Film</th>
                <td mat-cell *matCellDef="let movie">
                    <div class="ftr-select">
                     <mat-form-field class="ftr-select">
                <mat-select placeholder="DEMANDER">
                        <span *ngFor="let dcp of movie.dcps">
                            <span *ngIf="dcp.contentkind == 'FTR' " ><mat-option [value]="dcp.name">
                                <mat-checkbox (click)="$event.stopPropagation()">
                        {{dcp.name}}</mat-checkbox>
                        </mat-option>
                    </span>
                    </span>
                     <mat-option><button mat-raised-button color="primary">Demander</button></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Film</th>
                <div class="cell-list">
                <td  mat-cell *matCellDef="let movie">
                    <a [routerLink]="movie.id">{{movie.title}}
                </a></td></div>
	            </ng-container>

            <ng-container matColumnDef="releasedate">
               <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Date de Sortie</th>
               <td  mat-cell *matCellDef="let movie">
                 {{movie.releasedate | date : 'dd MMM y' }}
               </td>
            </ng-container>

             <ng-container matColumnDef="FTR">
                <th mat-header-cell *matHeaderCellDef class="onglet">Télécharger Le Film</th>
                <div class="cell-list">
                <td mat-cell *matCellDef="let movie" [ngClass]="{ 'positive' : movie.nb_valid_ftr > 0,'negative' : movie.nb_valid_ftr == 0 }">
                     <div class="ftr-select">
                     <mat-form-field class="ftr-select">
                <mat-select placeholder="FTR">
                        <span *ngFor="let dcp of movie.dcps">
                            <span *ngIf="dcp.contentkind == 'FTR' " ><mat-option [value]="dcp.name">
                                <mat-checkbox (click)="$event.stopPropagation()">
                        {{dcp.name}}</mat-checkbox>
                        </mat-option>
                    </span>
                    </span>
                     <mat-option><button mat-raised-button color="primary" >Télécharger</button></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
                {{movie.nb_valid_ftr}}</td></div>
            </ng-container>



            <ng-container matColumnDef="TLR">
                <th mat-header-cell *matHeaderCellDef class="onglet">Télécharger Les FA</th>
                <div class="cell-list">
                <td mat-cell *matCellDef="let movie" [ngClass]="{ 'positive' : movie.nb_valid_tlr > 0,'negative' : movie.nb_valid_tlr == 0 }">
                    <div class="tlr-select">
                   <mat-form-field class="tlr-select">
                    <mat-select placeholder="TLR">
                        <span *ngFor="let dcp of movie.dcps">
                        <span *ngIf="dcp.contentkind == 'TLR' " ><mat-option [value]="dcp.name">
                        <mat-checkbox (click)="$event.stopPropagation()">
                        {{dcp.name}}</mat-checkbox></mat-option>
                    </span>
                    </span>
                    <mat-option><button mat-raised-button color="primary" >Télécharger</button></mat-option>
                </mat-select>
            </mat-form-field></div>
                {{movie.nb_valid_tlr}}</td></div>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let movie; let dcp; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="nbAll"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 2000]">
        </mat-paginator>
    </div>
