<section *ngIf="user?.role === 'admin'">
  
<div *ngIf="dcp">

    <mat-card class="AffDesc" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" >

        <div >

            <div>

                <p class="title-desc">
                <strong>Nom du DCP:</strong>
                {{dcp.name}}</p>

                <p class="title-desc">
                <strong>Id du DCP :</strong>
                {{dcp.id}}</p>

                <p class="title-desc">
                <strong>Validité du DCP :</strong>
                {{dcp.valid}}</p>


                <p class="title-desc">
                <strong>Type de DCP :</strong>
                {{dcp.contentkind}}</p>

                <p class="title-desc">
                <strong>Taille de DCP :</strong>
                {{dcp.size | filesize}}</p>

                <p class="title-desc">
                <strong>Date de création du torrent :</strong>
                {{dcp.torrent_creation_date | date:'dd MMMM y à HH:mm:ss'}}</p>

                <p class="title-desc">
                <strong>Hash torrent :</strong>
                {{dcp.torrent_hash}}</p>

                <div>
                    <div class="title-desc">
                        <strong>Film :</strong>
                        <ul>
                            <li>
                                <app-movie-short [movieid]="dcp.movie">
                                </app-movie-short>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- Fin de la troisème div ! -->


            <div class="title-desc"> 
                <strong>Distributeurs :  </strong>
                <div *ngIf="dcp.distrib" >
                    <ul>
                        <li *ngFor="let distributor of dcp.distrib">
                            <app-distributors-short [distributorid]="distributor.distributorid"> 
                            </app-distributors-short>
                        </li>
                    </ul>
                </div> 


            </div><!--Fin de la div "positionOfdcp" --> 

            <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
            <button mat-raised-button color="link"(click)="goBack()">Retour</button>
            <button  mat-raised-button color="link" routerLink="/dcp/edit/{{dcp.id}}">Editer</button>
            <button mat-raised-button color="primary"(click)="Download()">Télécharger</button>

        </div><!--Fin du premier div !-->


        <div class="positionOfbouton" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">

            <table>
                <tr>
                    <td>
                        <button  mat-raised-button color="primary" (click)="OnTorrentCreate()"> Dcp ingest  </button>
                    </td>
                    <td>
                        {{ dcp.ingest_dcp_state_name }}
                    </td>
                    <td>
                        {{ dcp.ingest_dcp_date | date:'dd MMMM y à HH:mm:ss'  }}
                    </td>
                </tr>
                 <tr>
                    <td>
                        <button  mat-raised-button color="primary"  (click)="onCheckLong()">Dcp verification </button>
                    </td>
                    <td>
                        {{ dcp.hash_verification_state_name }}
                    </td>
                    <td>
                        {{ dcp.hash_verification_date | date:'dd MMMM y à HH:mm:ss'}}
                    </td>
                </tr>
 
                 <tr>
                    <td>
                        <button  mat-raised-button color="primary" (click)="OnTorrentCreate()"> Torrent creation </button>
                    </td>
                    <td>
                        {{ dcp.torrent_creation_state_name }}
                    </td>
                    <td>
                        {{ dcp.torrent_creation_date | date:'dd MMMM y à HH:mm:ss'}}
                    </td>
                </tr>
            </table> 



        </div><!--Fin de la div "positionOfbouton" -->


    </mat-card>
</div>
</section>