  <button mat-raised-button color="primary" routerLink="./new">Ajouter un film</button>

  <br>

  <mat-form-field>

        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search movies" #input >

  </mat-form-field>

    <div class="app-movie mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">
            <ng-container matColumnDef="affiche">
                <th mat-header-cell *matHeaderCellDef class="onglet">Affiche</th>
                <td mat-cell *matCellDef="let movie">
                    <img width="80px;" height="100px;" src="assets/img/img-{{movie.id}}.jpg"  onerror="this.src='/assets/img/default.png'"/>
                    <a routerLink="/movie/detail/{{movie.id}}">
                    </a></td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Id</th>
                <td mat-cell *matCellDef="let movie">{{movie.id}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Name</th>
                <td mat-cell *matCellDef="let movie">
               <a [routerLink]="[movie.id]">{{movie.title}}</a></td>
            </ng-container>

            <ng-container matColumnDef="releasedate">
               <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Date de Sortie</th>
               <td  mat-cell *matCellDef="let movie">
                 {{movie.releasedate | date : 'dd-MM-y'}}
               </td>
            </ng-container>


          <ng-container matColumnDef="FTR">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="onglet">FTR DISPONIBLE(S)</th>
                <td mat-cell *matCellDef="let movie" [ngClass]="{ 'positive' : movie.nb_valid_ftr > 0,'negative' : movie.nb_valid_ftr == 0 }">{{movie.nb_valid_ftr}}</td>
            </ng-container>

           <ng-container matColumnDef="TLR">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="onglet">TLR DISPONIBLE(S)</th>
                <td mat-cell *matCellDef="let movie" [ngClass]="{ 'positive' : movie.nb_valid_tlr > 0,'negative' : movie.nb_valid_tlr == 0 }">{{movie.nb_valid_tlr}}</td>
            </ng-container>



            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="onglet">Option</th>
                <td mat-cell *matCellDef="let movie">
                    <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
                    <button  mat-raised-button color="link" [routerLink]="[movie.id]">Editer</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let movie; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="nbMovies"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
