label {
  display: block;
  width: 6em;
  margin: .5em 0;

}

input .inputText {
  flex-basis: 66.6667%;
  font-size: 1em;
  padding-left: .4em;
  margin-left: 10px;

}

mat-form-field {    
    top: 10px;
    width: 280px;
    margin-bottom:  5px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

div .button {margin-left: 520px;}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

label.Field{
    text-align: right;
    clear: both;
    float: left;
    margin-left: 500px;
    margin-right: 30px;
    padding-top: 22px;
}

textarea {
      top: 10px;
    width: 250px;
    margin-bottom:  5px;
}