<div *ngIf="movie">

  <button mat-raised-button color="primary"
    [routerLink]="['../../dcp/new']"
    [queryParams]="{movieid: movie.id}"
  routerLinkActive="active">
  Ajouter un DCP
</button>

  <form [formGroup]="movieForm" (ngSubmit)="handleSubmit()">

    <div>
      <label class="Field">Titre:</label>
      <mat-form-field>
      <input class="inputText" matInput formControlName="title"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Date:</label>
      <mat-form-field>
      <input class="inputText" matInput type="date" formControlName="releasedate" required="required">
    </mat-form-field>
    </div>

    <div>
      <label class="Field">Directeur:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="director" required="required">
    </mat-form-field>
    </div>

   <div>
     <label class="Field">Scénario:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="scenario" required="required">
    </mat-form-field>
  </div>

   <div>
    <label class="Field">Acteur:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="actor" required="required">
    </mat-form-field>
  </div>

   <div>
      <label class="Field">Pays:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="country" required="required">
    </mat-form-field>
  </div>

     <div>
      <label class="Field">Synopsis:</label>
      <mat-form-field>
      <textarea matInput type="text" formControlName="synopsis" required="required"></textarea>
    </mat-form-field>
  </div>




    <div class="button">
      <button mat-raised-button color="primary" type="submit" [disabled]="movieForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" [disabled]="movieForm.pristine">Cancel</button>
    </div>
  </form>

  <p>
    Form Value: {{ movieForm.value | json }}
  </p>


  <p>
    Form Status: {{ movieForm.status }}
  </p>

</div>
