<section *ngIf="user?.role === 'admin'">
<div class=NewFormDistributors>    
  <form [formGroup]="distributorsForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="ChampFormulaireDistributors" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">

      <p>Nom du Distributeur</p>
      <mat-form-field>
      <input matInput formControlName="distributorname">
      </mat-form-field>

      <p>Partenaire ? :</p>
      <mat-form-field>
      <mat-select formControlName="partners">
      <mat-option *ngFor="let partners of Partenaire" [value]="partners">{{partners}}</mat-option>
      </mat-select>
      </mat-form-field>

      <p>Nom du Contact</p>
      <mat-form-field>
      <input matInput formControlName="user_contact">
      </mat-form-field>

      <p>Numéro du Contact</p>
      <mat-form-field>
      <input matInput formControlName="number_contact">
      </mat-form-field>

      <p>Mail du Contact</p>
      <mat-form-field>
      <input matInput formControlName="mail">
      </mat-form-field>

      <p>Code CNC</p>
      <mat-form-field>
      <input matInput formControlName="CNC_Code"></mat-form-field>
    <tr></tr>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="distributorsForm.pristine">Enregistrer</button>
    <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="distributorsForm.pristine">Annuler</button>
</div>  
</form>
</div>
</section>

<!--
<p>Form value: {{ distributorsForm.value | json }}</p>
-->