<button mat-raised-button color="link" (click)="goBack()">Retour</button>


<section>

<mat-card *ngIf="dcp" class="dcp-card">
  <mat-card-header>
   <mat-card-title>
     <strong>Nom du DCP:</strong>
   {{dcp.name}}
 </mat-card-title>
   <mat-card-subtitle>
      <strong>Id du DCP :</strong>
     {{dcp.id}}
</mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>



        <p class="title-desc">
          <strong> Etat du DCP :</strong>
          <span *ngIf="dcp.ingest_dcp_state_name === 'FAIL' ; else elseBlock " >
            <span class="dcp-fail" > {{ dcp.ingest_dcp_state_name }} </span>
          </span>
          <ng-template #elseBlock>{{ dcp.ingest_dcp_state_name }}</ng-template>

        </p>

      <div class="title-desc">
        <strong>Validité du DCP :</strong>
        <div class="example-section">
             <mat-slide-toggle
                 class="example-margin"
                 [color]="color"
                 [checked]="dcp.valid"
                 [disabled]="disabled"
                 (toggleChange)="OnValid()" >
                 {{dcp.valid}}
             </mat-slide-toggle>
          </div>
      </div>


      <p class="title-desc">
        <strong>Type de DCP :</strong>
        {{dcp.contentkind}}</p>

        <p class="title-desc">
          <strong> DCP chiffré :</strong>
          {{dcp.encrypted}}</p>

      <p class="title-desc">
        <strong>Taille de DCP :</strong>
        {{dcp.size | filesize}}</p>

      <p class="title-desc">
        <strong>Date de création du torrent :</strong>
        {{dcp.torrent_creation_date | date:'dd MMM y à HH:mm:ss'}}</p>

      <p class="title-desc">
        <strong>Hash torrent :</strong>
        {{dcp.torrent_hash}}</p>

<!--  suppr boutton supress until a method for deleting  in dcp list via routae and stubscribe
      <button mat-raised-button color="warn" class="delete" (click)="OnDelete()">Supprimer</button>
    -->

 <mat-card-actions>
      <button mat-raised-button color="primary" (click)="OnScan()">Scan</button>

      <button mat-raised-button color="primary" (click)="Download()">Télécharger</button>
      </mat-card-actions>

      </mat-card-content>

</mat-card>
</section>

<section>
<mat-card>
  <div *ngIf="dcp.task">
    <ul>
      <li>
        <strong>Terminé ?: </strong>
        {{dcp.task.complete}}
      </li>
      <div *ngIf="dcp.task.complete; else elseBlock">
        <li>
          <strong>Progression: </strong>
          {{dcp.task.progress}} %
        </li>
      </div>
      <ng-template #elseBlock>
        <mat-spinner
          [diameter] = "40.0"
        >
      </mat-spinner>
        <li>
          <strong> Progression: </strong>
          <strong> {{dcp.task.progress}} % </strong>
        </li>
      </ng-template>
      <li>
        <strong>description: </strong>
        {{dcp.task.description}}
      </li>

      <li>id: {{dcp.task.id}} </li>
      <li>name: {{dcp.task.name}} </li>
      <li>step: {{dcp.task.step}} </li>
      <li>state: {{dcp.task.state}} </li>
      <li>fail_msg: {{dcp.task.fail_msg }} </li>
      <li>start_date: {{dcp.task.start_date | date:'dd MMMM y à HH:mm:ss'}} </li>
      <li>end_date: {{dcp.task.end_date | date:'dd MMMM y à HH:mm:ss' }} </li>

    </ul>
  </div>
  <button mat-raised-button color="primary" (click)="onIngest()"> Dcp ingest </button>
  <button mat-raised-button color="primary" (click)="onCheckLong()">Dcp verification </button>
  <button mat-raised-button color="primary" (click)="OnTorrentCreate()"> Torrent creation </button>

</mat-card>
</section>


  <section>
  <mat-divider></mat-divider>

  <div>
    Origin seeders:
    <div *ngIf="notification.data.seeders">


        <mat-card *ngFor="let seeder of notification.data.seeders">
          <mat-card-header>
           <mat-card-title> {{seeder.host }} </mat-card-title>
           <mat-card-subtitle> {{seeder.ipa}} </mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
             <mat-accordion>

           <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
             <mat-expansion-panel-header>
               <mat-panel-title>
                Etat: {{seeder.status }} / {{seeder.name }}
                 </mat-panel-title>
               <mat-panel-description>
                 Chargement : {{ seeder.progress }} %
               </mat-panel-description>
                 </mat-expansion-panel-header>
                 <mat-list dense>

       <mat-list-item>hash: {{seeder.hash }}</mat-list-item>
       <mat-list-item>progress: {{seeder.progress }}</mat-list-item>
       <mat-list-item>error: {{seeder.error }}</mat-list-item>
       <mat-list-item>errorString: {{seeder.errorString }}</mat-list-item>
       <mat-list-item>date_active: {{seeder.date_active }}</mat-list-item>
       <mat-list-item>date_added: {{seeder.date_added }}</mat-list-item>
       <mat-list-item>date_done: {{seeder.date_done }}</mat-list-item>
       </mat-list>
           </mat-expansion-panel>
         </mat-accordion>

            </mat-card-content>
          </mat-card>
    </div>
  </div>

  </section>









<div *ngIf="extend_dcp">
<mat-card>
  <pre> {{extend_dcp | json}} </pre>
</mat-card>
</div>
