<section *ngIf="user?.role === 'admin'">
<form [formGroup]="dcpForm" (ngSubmit)="onSubmit()" novalidate>

	<p>Nom du Dcp:</p>
    <input formControlName="dcpname">
     
	<p>Type de Dcp :</p>
		<select formControlName="contentkind">
			<option *ngFor="let contentkind of TypeDCP" [value]="contentkind">{{contentkind}}</option>
		</select>
    
    <p>Taille du DCP:</p>
    <input formControlName="size">
 	
	 	<button type="submit" [disabled]="dcpForm.pristine">Enregistrer</button>
	  	<button type="reset" (click)="revert()" [disabled]="dcpForm.pristine">Annuler</button>

</form>
</section>

<!--
<p>Form value: {{ movieForm.value | json }}</p>
-->
