/*
.app-exhibitors-list {

  width: 80%;
  margin: 20px auto;
}

.mat-elevation-z8{

  box-shadow: none;

}
td.mat-cell {
  
  padding: 15px;
  border-color: #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

th.mat-header-cell{
  padding-left: 8px;
  border-color: #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
 font-size: 15px;
  color: black;
  background-color: #049cdb;
}

th.mat-header-cell:hover{
  background-color: #0450db; 

}
*/