<ul class="exhibitors">
 
  <section *ngIf="user?.role === 'admin'">
  
  <div class="mat-elevation-z8 app-exhibitors-list">
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let exhibitors">{{exhibitors.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let exhibitors">
          <a routerLink="/exhibitors/detail/{{exhibitors.id}}">{{exhibitors.city}} - {{exhibitors.name}}</a></td>
       </ng-container>

        <ng-container matColumnDef="department">
         <th mat-header-cell *matHeaderCellDef >Departement </th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.dept}}</td>
        </ng-container>

        <ng-container matColumnDef="CNC_Code_autorised">
          <th mat-header-cell *matHeaderCellDef >Code CNC</th>
            <td mat-cell *matCellDef="let exhibitors">{{exhibitors.cncid}}</td>
        </ng-container>

        <ng-container matColumnDef="ip_tinc">
         <th mat-header-cell *matHeaderCellDef >IP tinc</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.iptinc}}</td>
        </ng-container>

        <ng-container matColumnDef="Nb_screen">
         <th mat-header-cell *matHeaderCellDef >Nb écran(s)</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.nbscreens}}</td>
        </ng-container>

        <ng-container matColumnDef="free_space">
          <th mat-header-cell *matHeaderCellDef >Espace disque disponible</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.free_space}}</td>
        </ng-container>


 <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Option</th>
         <td mat-cell *matCellDef="let exhibitors">    
           <button  mat-raised-button color="warn" class="delete" (click)="delete(Exhibitors_s)">Supprimer</button>
            <button  mat-raised-button color="link" routerLink="/exhibitors/edit/{{exhibitors.id}}">Editer</button>
          </td>
      </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let exhibitors; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
 </div>
</section>
</ul>