<section *ngIf="user?.role === 'admin'">
<div class=NewFormDcp>
    <form [formGroup]="signDcps" (ngSubmit)="onSubmit()" novalidate>
    
    <div class="ChampFormulaireDcp" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">
        
        <p>Nom du DCP</p>
        <mat-form-field>
        <input matInput formControlName="name" required="required" placeholder="Obligatoire">
        </mat-form-field>

        <p>Taille du DCP</p>
        <mat-form-field>
        <input matInput formControlName="size"required="required" placeholder="Obligatoire">
        </mat-form-field>
        
        <p>Type de DCP:</p>
        <mat-form-field>
        <mat-select formControlName="contentkind"required="required" placeholder="Obligatoire">
            <mat-option *ngFor="let contentkind of TypeDCP" [value]="contentkind">{{contentkind}}</mat-option>
             
        </mat-select>
        </mat-form-field>

        <p>Film associé </p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Choose a  movie" [matAutocomplete]="auto" formControlName='moviesList'required="required" placeholder="Obligatoire">
        </mat-form-field>
        <span>Your choice is: {{signDcps.get('moviesList').value | json}}</span>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="dataSourceMovie.loading$ | async" class="is-loading"><mat-spinner diameter="50"></mat-spinner>
            </mat-option>

            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let movie of dataSourceMovie.moviesSubject._value" [value]="movie.title">
                    <span>{{ movie.title }}</span>
                    <small> | ID: {{movie.id}}</small>
                </mat-option>
            </ng-container>
        </mat-autocomplete>

        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="signDcps.pristine">Enregistrer</button>
            <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="signDcps.pristine">Annuler</button>
        </div>
        </div>
    </form>
</div>
</section>