

<ul class="movie">
	<ul>
	<button mat-raised-button color="primary" routerLink="./new" routerLinkActive="active">Ajouter un film</button>
</ul>
<mat-form-field>

		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search movies" #input >
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="affiche">
				<th mat-header-cell *matHeaderCellDef class="onglet">Affiche</th>
				<td mat-cell *matCellDef="let movie">
						<img width="80px;" height="110px;" src="assets/img/img-{{movie.id}}.jpg"  onerror="this.src='/assets/img/default.png'"/>
				</td>
		</ng-container>


          <ng-container matColumnDef="id">     	
               <th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>Id</th>           
                <td mat-cell *matCellDef= "let movie">{{movie.id}}</td>
           </ng-container>



		<ng-container matColumnDef="title" >  
				<th mat-header-cell *matHeaderCellDef class="onglet"  mat-sort-header>Titre</th>
				<td  mat-cell *matCellDef= "let movie">
						<a [routerLink]="[movie.id]">{{movie.title}}</a></td>
		</ng-container>

		<ng-container matColumnDef="releasedate">
				<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Date de Sortie</th>
				<td  mat-cell *matCellDef="let movie">
						{{movie.releasedate | date : 'dd MMM y'}}
				</td>
		</ng-container>



		<ng-container matColumnDef="FTR">    
				<th mat-header-cell *matHeaderCellDef class="onglet">FTR disponible(s)</th>
				<td mat-cell *matCellDef= "let movie" [ngClass]="{ 'positive' : movie.nb_valid_ftr > 0,'negative' : movie.nb_valid_ftr == 0 }">{{movie.nb_valid_ftr}}</td>
		</ng-container>


		<ng-container matColumnDef="TLR">   
				<th mat-header-cell *matHeaderCellDef class="onglet">TLR disponible(s)</th>
				<td mat-cell *matCellDef= "let movie" [ngClass]="{ 'positive' : movie.nb_valid_tlr > 0,'negative' : movie.nb_valid_tlr == 0 }">
						{{movie.nb_valid_tlr}}
				</td>
		</ng-container>



		<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef class="onglet">Action</th>
				<td mat-cell *matCellDef= "let movie">
						<button mat-raised-button color="primary">Distribuer</button>
				</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let movie; columns: displayedColumns;"></tr>
</table>


<mat-paginator       
		[pageIndex]="0"
		[pageSize]="50"
		[pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>

</ul>
