label {
  display: block;
  width: 6em;
  margin: .5em 0;

}

input .inputText {
  flex-basis: 66.6667%;
  font-size: 1em;
  padding-left: .4em;
  margin-left: 10px;

}

mat-form-field {
    top: 10px;
    width: 280px;
    margin-bottom:  5px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

div .button {margin-left: 520px;}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

label.Field{
    text-align: right;
    clear: both;
    float: left;
    margin-left: 500px;
    margin-right: 30px;
    padding-top: 22px;
}


label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}




mat-card {
  box-shadow: 10px 10px 5px #656565;
}

.title-desc {

    padding-bottom: 0.46875rem !important;
    margin-bottom: 0.46875rem !important;
    border-bottom: 0.5px solid #cecece;
    font-size: 1rem;
}

div .positionOfdcp {

    flex-direction: column !important;
    box-sizing: border-box !important;
    max-width: 21% !important;
    place-content: stretch flex-start !important;
    align-items: stretch !important;
    display: unset !important;
}

div .positionOfdcp2 {

     padding-right: 130px !important;
     width: 700px !important;

}

div .positionOfbouton {

    padding-right: 5px !important;
    margin-left: 50px !important;
}
