<div *ngIf="dcp">


  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile >
      <div >
          <div>

              <p class="title-desc">
              <strong>Nom du DCP:</strong>
              {{dcp.name}}</p>

              <p class="title-desc">
              <strong>Id du DCP :</strong>
              {{dcp.id}}</p>

              <p class="title-desc">
              <strong>Validité du DCP :</strong>
              {{dcp.valid}}</p>


              <p class="title-desc">
              <strong>Type de DCP :</strong>
              {{dcp.contentkind}}</p>

              <p class="title-desc">
              <strong>Taille de DCP :</strong>
              {{dcp.size | filesize}}</p>

              <p class="title-desc">
              <strong>Date de création du torrent :</strong>
              {{dcp.torrent_creation_date | date:'dd MMMM y à HH:mm:ss'}}</p>

              <p class="title-desc">
              <strong>Hash torrent :</strong>
              {{dcp.torrent_hash}}</p>


          </div><!-- Fin de la troisème div ! -->




          <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
          <button mat-raised-button color="link"(click)="goBack()">Retour</button>
          <button  mat-raised-button color="link" routerLink="/dcp/edit/{{dcp.id}}">Editer</button>
          <button mat-raised-button color="primary"(click)="Download()">Télécharger</button>

      </div><!--Fin du premier div !-->

    </mat-grid-tile>

    <mat-grid-tile>
      <table>
          <tr>
              <td>
                  <button  mat-raised-button color="primary" (click)="onIngest()"> Dcp ingest  </button>
              </td>
              <td>
                  {{ dcp.ingest_dcp_state_name }}
              </td>
              <td>
                  {{ dcp.ingest_dcp_date | date:'dd MMMM y à HH:mm:ss'  }}
              </td>

          </tr>
          <tr>
            <td>
            Failure ?
            </td>
            <td colspan="2">
                {{ dcp.fail_msg }}
            </td>
            <td>
            </td>

            </tr>

           <tr>
              <td>
                  <button  mat-raised-button color="primary"  (click)="onCheckLong()">Dcp verification </button>
              </td>
              <td>
                  {{ dcp.hash_verification_state_name }}
              </td>
              <td>
                  {{ dcp.hash_verification_date | date:'dd MMMM y à HH:mm:ss'}}
              </td>
          </tr>

           <tr>
              <td>
                  <button  mat-raised-button color="primary" (click)="OnTorrentCreate()"> Torrent creation </button>
              </td>
              <td>
                  {{ dcp.torrent_creation_state_name }}
              </td>
              <td>
                  {{ dcp.torrent_creation_date | date:'dd MMMM y à HH:mm:ss'}}
              </td>
          </tr>
      </table>




    </mat-grid-tile>
    <mat-grid-tile>
      <div>
      <p> coucou </p>
      <ul>
    <li *ngFor='let task of dcp.tasks'> <p> {{task|json}} </p> </li>
</ul>
</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <p> 4 </p>
      <div *ngFor='let task of dcp.tasks'>
        <div *ngIf='task.complete == false' >
          <ul>
          <li> description: {{task.description}} </li>
          <li>id: {{task.id}} </li>
          <li>name: {{task.name}} </li>
          <li>progress: {{task.progress}} </li>
          <li>step: {{task.step}} </li>
          </ul>
        </div>

      </div>
    </mat-grid-tile>

  </mat-grid-list>



</div>
<div *ngIf="dcp">


  <form [formGroup]="dcpForm" (ngSubmit)="handleSubmit()">

    <div>
      <label class="Field">Titre:</label>
      <mat-form-field>
      <input matInput formControlName="name"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Type:</label>
      <mat-form-field>
      <input matInput type="text" formControlName="contentkind" required="required">
    </mat-form-field>
    </div>

    <div>
      <label class="Field">Taille : </label>
      <mat-form-field>
      <input matInput type="text" formControlName="size" required="required">
    </mat-form-field>
    </div>





       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="dcpForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" >Cancel</button>
    </div>
  </form>
  <p>
    Form Value: {{ dcpForm.value | json }}
  </p>


  <p>
    Form Status: {{ dcpForm.status }}
  </p>

</div>
