

  <p  *ngIf="movie">
    Ingest de DCP pour le film {{ movie.title }}
    </p>

  <form [formGroup]="dcpForm" (ngSubmit)="handleSubmit()">





    <div>
      <label class="Field">Path to DCP</label>
      <input type="button" (click)="onClickMe()" value="Choisir un dossier" required>
      <p> {{clickMessage}} </p>
    </div>


       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" (click)="save()"  [disabled]="!dcpForm.valid" >Ingest</button>
      <button mat-raised-button color="warn" (click)="cancel()" >Cancel</button>
    </div>

  </form>
  <button (click)="onClickMe()">Choisir un dossier</button>


  <p>
    Form Status: {{ dcpForm.status }}
  </p>
