
<mat-card>
  <mat-card-header>
    Utilisastion espace disque
  </mat-card-header>
  <mat-card-content>

  <ul>
    <li> Espace libre <strong> {{diskusage.free}} </strong> {{diskusage.unit}}
      ( Espace occcupé à <strong> {{diskusage.percent_used }} % </strong>)
      </li>
      <li> Taille totale  {{diskusage.total}} {{diskusage.unit}}
        ( Occupé : {{diskusage.used}} {{diskusage.unit}} )
      </li>
  </ul>
  
  </mat-card-content>
</mat-card>
