<nav>
    <mat-toolbar color="primary" class="toolbar">

        <div> {{currentUser?.login}} </div>
    <button mat-button  routerLink="./" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Dashboard
    </button>

        <button mat-button routerLink="./film" routerLinkActive="active">Mon catalogue</button>
        <button mat-button routerLink="./dcp" routerLinkActive="active">Mes DCP</button>


        <button mat-button routerLink="./demande_de_film" routerLinkActive="active">Les demandes de films</button>

        <button mat-button routerLink="./salle" routerLinkActive="active">Les salles connectées</button>


        <button mat-button  routerLinkActive="disconnect" class="disconnect" (click)="logout()">Déconnexion</button>
    </mat-toolbar>
</nav>


<h2>DISTRIBUTEUR {{ currentUser.distributor.name }} </h2>


<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
