 <nav>

  <mat-toolbar color="primary" class="toolbar">

<button mat-button  [matMenuTriggerFor]="catalogue">Catalogue</button>
        <mat-menu #catalogue="matMenu">
            <button mat-menu-item routerLink="./film">Les Films </button>
            <button mat-menu-item routerLink="./film/new">Ajouter un film</button>
          </mat-menu>

<button mat-button [matMenuTriggerFor]="dcp">DCP</button>
          <mat-menu #dcp="matMenu">
            <button mat-menu-item routerLink="./dcp">Les DCP</button>
            <button mat-menu-item routerLink="./dcp/new">Ajouter un DCP</button>
            </mat-menu>

<button mat-button [matMenuTriggerFor]="distributor">DISTRIBUTEURS</button>
            <mat-menu #distributor="matMenu">
             <button mat-menu-item routerLink="./distributor">Les DISTRIBUTEURS</button>
            <button mat-menu-item routerLink="./distributor/new">Ajouter un Distributeur</button>

          </mat-menu>

<button mat-button [matMenuTriggerFor]="exhibitor">EXPLOITANTS</button>
            <mat-menu #exhibitor="matMenu">
            <button mat-menu-item routerLink="./exhibitor">Les EXPLOITANTS</button>

            <button mat-menu-item routerLink="./exhibitor/new">Ajouter un Exploitant</button>

        </mat-menu>

    <button mat-button> {{currentUser.login}}</button>

            <button mat-raised-button color="warn" class="disconnect" (click)="logout()">Déconnexion</button>
          </mat-toolbar>

</nav>


<h2>ADMIN {{ currentUser.login}} </h2>

<h3> runing with electron : {{isElectron}} </h3>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
