<div mat-card class="AffDistrib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">


  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width:300px; margin-bottom: 15px;">

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Id:</strong>
    {{currentUser.id}}</p>

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Nom:</strong>
    {{currentUser.login}}</p>

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Mail:</strong>
    {{currentUser.email}}</p>

</div>

<div *ngIf="isElectron">
  <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
   <strong> DCPS path</strong>
   /home/nicolas/data/DCP</p>

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong> Torrrent path </strong>
    /home/nicolas/data/torrrent</p>

</div>
