<section *ngIf="user?.role === 'admin'">
<div class=NewFormMovie>
    <form [formGroup]="signMovie" (ngSubmit)="onSubmit()" novalidate>
   
    <div class="ChampFormulaireMovie" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">          
          <p>Nom du film:</p>
          <mat-form-field>
          <input matInput formControlName="title"
          required="required" placeholder="Obligatoire">
          </mat-form-field>
          
          <p>Synopsis:</p>
          <mat-form-field>
          <input matInput formControlName="synopsis" required="required" placeholder="Obligatoire">
          </mat-form-field>

          <p>Réalisateur:</p>
          <mat-form-field>
          <input matInput formControlName="director" required="required" placeholder="Obligatoire">
          </mat-form-field>

          <p>Scénario:</p>
          <mat-form-field>
          <input matInput formControlName="scenario"required="required" placeholder="Obligatoire">
          </mat-form-field>

          <p>Acteur:</p>
          <mat-form-field>
          <input matInput formControlName="actor"required="required" placeholder="Obligatoire">
          </mat-form-field>

          <p>Pays:</p>
          <mat-form-field>
          <input matInput formControlName="country"required="required" placeholder="Obligatoire">
          </mat-form-field>

          <p>Distributeur associé:</p>
        <mat-form-field>
        <mat-select  formControlName="distributorsList"required="required" placeholder="Obligatoire">
            <mat-option [value]="distributors" 
                *ngFor="let distributors of dataSourceDistributors">
                {{distributors.distributorname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <tr></tr>

          <button mat-raised-button color="primary" type="submit" [disabled]="signMovie.pristine">Enregistrer</button>
           <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="signMovie.pristine">Annuler</button>
      </div>
  </form>
</div>
</section>
<!--
<p>Form value: {{ signMovie.value | json }}</p>
-->
