<ul class="movies">
<section *ngIf="user?.role === 'admin'">
    <mat-form-field>

        <input matInput placeholder="Search movies" #input>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

      </div>


  <div class="mat-elevation-z8 app-distributors-list">
    
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">

      <ng-container matColumnDef="distributorname">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let distributors">
        <a routerLink="/distributors/detail/{{distributors.id}}">{{distributors.name}}</a></td>
      </ng-container>

         <ng-container matColumnDef="cnc_code">
        <th mat-header-cell *matHeaderCellDef>Code CNC</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.cnc_code}}</td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.contact}}</td>
      </ng-container>

        <ng-container matColumnDef="dcpbay">
        <th mat-header-cell *matHeaderCellDef>dcpbay</th>
        <td mat-cell *matCellDef="let distributors">
        {{distributors.isdcpbay}}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Option</th>
        <td mat-cell *matCellDef="let distributor">    
          <button  mat-raised-button color="warn" class="delete" (click)="delete(distrib_s)">Supprimer</button>
          <button  mat-raised-button color="link" routerLink="/distributors/edit/{{distributor.id}}">Editer</button></td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let distributor; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  
  </div>
</section>
</ul>
