app-dcp-short{
  color: blue;
  text-decoration: underline;
}



label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

mat-card {
  box-shadow: 10px 10px 5px #656565;
}

div .positionOfdesc {
    /*margin-left: -350px !important;
*/

}

div .positionOfdesc2 {
 /* margin-bottom: 60px!important;
    margin-top: -365px !important;
  padding-right: 130px !important;
  width: 300px !important;*/
}

div .positionOfButton{


}

/*h4  {

  padding: 7px 35px 4px 7px !important;
  background-color:#0e072c !important;    
  color:white !important;
}*/

.title-desc {
    
   /* padding-bottom: 0.46875rem !important;
    margin-bottom: 0.46875rem !important;*/
    border-bottom: 0.5px solid #cecece;
    font-size: 1rem;
}