<section *ngIf="user?.role === 'admin'">
  
<mat-card class="AffExhib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">


  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width: 300px;margin-bottom: 5px;">
    
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
          <strong>Nom:</strong>
          {{exhibitors.name}}</p>
                   
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Numéro CNC:</strong>
          {{exhibitors.cncid}}</p>
                   
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Login:</strong>
          {{exhibitors.log}}</p>          
          
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Mail:</strong>
          {{exhibitors.mail}}</p>
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Numéro :</strong>
          {{exhibitors.phone}}</p> 
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Contact :</strong>
          {{exhibitors.contact}}</p>
        
        <div>  
        <button mat-raised-button color="link" routerLink="/exhibitors/edit/{{exhibitors.id}}">Editer</button>
        <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
          <button mat-raised-button color="link" (click)="goBack()">Retour</button>
        </div>        
         <!-- <h4>Code Postal :</h4>
          <p>{{exhibitors.ZIP_Code}}</p>
          -->
          </div>
          
          <div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="width: 300px; margin-bottom: 51px;">
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Addresse :</strong>
          {{exhibitors.address}}</p>

          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Ville :</strong>
          {{exhibitors.city}}</p>  
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Département :</strong>
          {{exhibitors.dept}}</p>   
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Nombre d'écrans :</strong>
          {{exhibitors.nbscreens}}</p>  
          
          <p class="title-desc" style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>ip tinc :</strong>
          {{exhibitors.iptinc}}</p>    
          
          <p class="title-desc"  style="margin-bottom: 0.5%; border-bottom: 0.5px solid #cecece;">
            <strong>Free space :</strong>
          {{exhibitors.free_space}}</p> 
        </div>   


 <button mat-raised-button color="link" routerLink="/exhibitors/edit/{{exhibitors.id}}">Editer</button>
  <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
    <button mat-raised-button color="link" (click)="goBack()">Retour</button>
</mat-card> 

</section>
