<div id="search-component">
	<h4>Recherche du distributeur</h4>

	<input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

	<ul class="search-result">
		<li *ngFor="let distributor of distrib$ | async" >
			<a routerLink="/distributors/detail/{{distributor.id}}">
				{{distributor.distributorname}}
			</a>
		</li>
	</ul>
</div>