.Navig {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;

}


.Naviga {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  margin-left: 3px !important;
}


nav :hover {


  color: black !important;
  background: #bababa !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  border-bottom-width: thick !important;

}
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}*/
.negative {color: red;}

.positive {color: green;}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-right: 50px !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}