<section *ngIf="user?.role === 'admin'">
<div class=NewFormExhibitors>    
    <form [formGroup]="exhibitorsForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="ChampFormulaireExhibitors" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">

    <mat-form-field>
    <p>Nom de l'exploitant:</p>
    <input matInput formControlName="name">
    </mat-form-field>
    
    <mat-form-field>
    <p>Login Tuco:</p>
    <input matInput formControlName="log">
    </mat-form-field>

    <mat-form-field>
    <p>Mot de passe Tuco:</p>
    <input matInput formControlName="pass">
    </mat-form-field>

    <mat-form-field>
    <p>email:</p>
    <input matInput formControlName="mail">
    </mat-form-field>

    <mat-form-field>
    <p>Code Autorisation du CNC</p>
    <input matInput formControlName="CNC_Code_autorised">
    </mat-form-field>

    <mat-form-field>
    <p>Contact:</p>
    <input matInput formControlName="name_contact">
    </mat-form-field>
    
    <mat-form-field>
    <p>Téléphones</p>
    <input matInput formControlName="number_contact">
    </mat-form-field>
    
    <mat-form-field>
    <p>Adresse:</p>
    <input matInput formControlName="address_contact">
    </mat-form-field>
    
    <mat-form-field>
    <p>Code postal:</p>
    <input matInput formControlName="ZIP_Code">
    </mat-form-field>

    <mat-form-field>
    <p>Ville:</p>
    <input matInput formControlName="town">
    </mat-form-field>

    <mat-form-field>
    <p>Departement:</p>
    <input matInput formControlName="department">
    </mat-form-field>
    
    <mat-form-field>
    <p>Nombre(s) d ecrans:</p>
    <input matInput formControlName="Nb_screen">
    </mat-form-field>

    <mat-form-field>
    <p>IP tinc:</p>
    <input matInput formControlName="ip_tinc">
    </mat-form-field>
    <tr></tr>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="exhibitorsForm.pristine">Enregistrer</button>
  <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="exhibitorsForm.pristine">Annuler</button>
</div>
</form>
</div>
</section>
<!--<p>Form value: {{ exhibitorsForm.value | json }}</p>
-->