.NewFormExhibitors {
  display: flex;
  flex-direction: column;
   width: 100%;
}

.ChampFormulaireExhibitors{
    display: flex;
    width: 1200px;
    padding-left: 550px;
    padding-top: 50px;

}

