<div *ngIf="distributor">
  <form [formGroup]="distributorForm" (ngSubmit)="handleSubmit()">
    
    
    <div>
      <label class="Field">Nom :</label>
      <mat-form-field>
      <input matInput formControlName="name"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Contact:</label>
      <mat-form-field>
      <input matInput formControlName="contact"
      required="required">
      </mat-form-field>
    </div>
             
    <div>
      <label class="Field">Code CNC:</label>
      <mat-form-field>
      <input matInput formControlName="cnc_code"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">User:</label>
      <mat-form-field>
      <input matInput formControlName="user"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">Isdcpbay:</label>
      <mat-form-field>
      <input matInput formControlName="isdcpbay"
      required="required">
      </mat-form-field>
    </div> 



   
       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="distributorForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" >Cancel</button>
    </div>
  </form>
  <p>
    Form Value: {{ distributorForm.value | json }}
  </p>


  <p>
    Form Status: {{ distributorForm.status }}
  </p>

</div>

