<section *ngIf="user?.role === 'admin'">
  


<div *ngIf="movie">

	
	<mat-card class="AffDesc" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="movie">
 

					<div fxLayout="row" class="positionOfImg">

						<img width="265px;" height="350px;" src="assets/img/img-{{movie.id}}.jpg"onerror="this.src='/assets/img/default.png'"/>
					</div>


					<div class="positionOfdesc" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" fxFlex="100px" >
				
					<p class="title-desc">
    				<strong>TITRE :</strong>
					{{movie.title}}</p>

					<p class="title-desc">
    				<strong>ID :</strong>
					{{movie.id}}</p>
					
				
					<p class="title-desc">
    				<strong>Réalisateur :</strong>
					{{movie.director}}</p>

					<p class="title-desc">
    				<strong>Scénariste :</strong>
					{{movie.scenario}}</p>
				
					<p class="title-desc">
    				<strong>Acteurs :</strong>
					{{movie.actor}}</p>
					
					<p class="title-desc">
    				<strong>Pays :</strong>
					{{movie.country}}</p>

					<p class="title-desc">
    				<strong>Date de sortie :</strong>
					{{movie.releasedate | date:'dd MMMM y'}}</p>
					
					<p class="title-desc">
    				<strong>Distributeurs : </strong></p>
    				

    				<div *ngIf="movie.distrib">							
				
				<ul>
					<li *ngFor="let distributor of movie.distrib">
						<app-distributors-short [distributorid]="distributor.distributorid">
						</app-distributors-short>
					</li>
				</ul>
		
		</div>

		<button mat-raised-button color="link" (click)="goBack()">Retour</button> 
		<button mat-raised-button color="link" routerLink="/movie/edit/{{movie.id}}">Editer</button>
		<button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
		  

		
</div>


				<div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">

						<p class="title-desc">
    				<strong>Synopsis :</strong>
					{{movie.synopsis}}</p>
			


			
			</div>


	</mat-card>	



	<div fxLayout="column" fxLayoutAlign="center stretch">
<mat-card>

			<div *ngIf="movie.dcps" >
					<h2>DCPs :  </h2>
				<ul>
					<li *ngFor="let dcp of movie.dcps">
						<app-dcp-short [dcpid]="dcp.id" routerLink="/dcp/detail/{{dcp.id}}"> </app-dcp-short>
						<button  mat-raised-button color="warn" class="deletedcp" (click)="deletedcp(movie_s)">Supprimer le DCP
						</button>
						<button  mat-raised-button color="primary" class="download" (click)="download(movie_s)">Télécharger
						</button>
						<button  mat-raised-button color="link" class="notification" (click)="notification(movie_s)">Notifier le distributeur
						</button>
					</li>
				</ul>
			</div>
				<button  mat-raised-button color="link" class="notification" (click)="notification(movie_s)">Notifier le distributeur pour tout les DCP(s) du film</button>		
			</mat-card>		
		</div>
		
	
</div>

</section>
