app-dcp-short{
  color: blue;
  text-decoration: underline;
}



label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

mat-card {
  box-shadow: 10px 10px 5px #656565;
}

div .positionOfImg {

  margin-left: -190px;


}

div .positionOfdesc {
  
    flex-direction: column !important;
    box-sizing: border-box !important;
    max-width: 21% !important;
    place-content: stretch flex-start !important;
    align-items: stretch !important;
    display: unset !important;

}

div .positionOfdesc2 {
  
    margin-top: -365px !important;
    padding-right: 130px !important;
    
}
 

div .positionOfButton{


}


.title-desc {
 padding-bottom: 0.46875rem !important;
margin-bottom: 0.46875rem !important;
border-bottom: 0.5px solid #cecece;
font-size: 1rem;
}