<mat-card class="AffDesc" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

 <div *ngIf="movie">
  <form [formGroup]="movieForm" (ngSubmit)="handleSubmit()">
 
			
<img width="265px;" height="350px;" src="assets/img/img-{{movie.id}}.jpg"onerror="this.src='/assets/img/default.png'"/>
				
	<div class="positionOfdesc" style="
    margin-top: -370px;
    margin-left: -200px;">

    <div>
      <label class="Field">Titre:</label>
      <mat-form-field>
      <input class="inputText" matInput formControlName="title"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Date:</label>
      <mat-form-field>
      <input class="inputText" matInput type="date" formControlName="releasedate" required="required">
    </mat-form-field>
    </div>

    <div>
      <label class="Field">Directeur:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="director" required="required">
    </mat-form-field>
    </div>

   <div>
     <label class="Field">Scénario:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="scenario" required="required">
    </mat-form-field>
  </div>

   <div>
    <label class="Field">Acteur:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="actor" required="required">
    </mat-form-field>
  </div>

   <div>
      <label class="Field">Pays:</label>
      <mat-form-field>
      <input class="inputText" matInput type="text" formControlName="country" required="required">
    </mat-form-field>
  </div>

     <div>
      <label class="Field">Synopsis:</label>
      <mat-form-field>
      <textarea matInput type="text" formControlName="synopsis" required="required"></textarea>
    </mat-form-field>
  </div>


   <div class="button" style="padding-left: 600px;padding-top: 30px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="movieForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" [disabled]="movieForm.pristine">Cancel</button>
</div>
	   <p>
	    Form Value: {{ movieForm.value | json }}
	  </p>


	  <p>
	    Form Status: {{ movieForm.status }}
	  </p>

</div>
</form>
</div>
</mat-card>
