<div id="search-component">
	<h4>Recherche du film</h4>

		<input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

	<ul class="search-result">
		<li *ngFor="let movie of movies$ | async" >
			<a routerLink="/movie/detail/{{movie.id}}">
				{{movie.movie_name}}
			</a>
		</li>
	</ul>
</div>