<div *ngIf="movies">

	 <h3> Films récents </h3>

<mat-card class="card-recent-movies" *ngFor="let movie of movies">
  <mat-card-header>
  	<mat-card-title>ID:{{movie.id}}</mat-card-title>
    <mat-card-title>Titre: {{movie.title}}</mat-card-title>
    <mat-card-subtitle>Date : {{movie.releasedate  | date : 'dd MMM y'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="affiche" src="assets/img/img-{{movie.id}}.jpg"  onerror="this.src='/assets/img/default.png'">
  <mat-card-content>
    <p *ngIf="movie.synopsis">
		Synopsis : {{movie.synopsis}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>DISTRIBUER</button>
    <a href="ingester/film/{{movie.id}}">
    <button mat-button>FICHE FILM</button></a>
  </mat-card-actions>
</mat-card>
</div>