<nav>
    <mat-toolbar color="primary" class="toolbar">

        <div> {{currentUser?.login}} </div>
    <button mat-button  routerLink="./" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Dashboard
    </button>

          <button mat-button routerLink="./film" routerLinkActive="active">Film</button>

    <button mat-button  class="disconnect" (click)="logout()"> Déconnexion</button>

    </mat-toolbar>
</nav>


<h2>EXPLOITANT {{ currentUser.exhibitor.name }} </h2>


<router-outlet></router-outlet>