/* CrisisListComponent's private CSS styles */
.task {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.task li {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.task tr {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}


.onglet   {
  background-color: #EEE;
  font : caption;
  padding-right: 150px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.task li:hover {
  color: #607D8B;

  left: .1em;
}

.task tr:hover {
  color: #607D8B;

  left: .1em;
}


.task a {
  color: #888;
  text-decoration: none;
  display: block;
}

.task a:hover {
  color:#015d86;
}

.task .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #0173ab;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.task li.selected {
  background-color:;
  color: white;
}
.task li.selected:hover {
  background-color: #BBD8DC;
}

.negative {color: red;}

.positive {color: green;}
