<ul class="task">
<section>
	<button mat-raised-button color="primary" (click)="OnClearComplete()"> Forcer complete</button>
</section>
<section>
	<mat-form-field>

		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search tasks" #input>
	</mat-form-field>

	<table mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="id">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>Id</th>
			<td mat-cell *matCellDef="let task">{{task.id}}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Tache</th>
			<td mat-cell *matCellDef="let task">
				<a [routerLink]="['ingester/task/'+ task.id]">{{task.name}}</a></td>
		</ng-container>


		<ng-container matColumnDef="complete">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>complete</th>
			<td mat-cell *matCellDef="let task">{{task.complete}}</td>
		</ng-container>
		<ng-container matColumnDef="start_date">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>Date start</th>
			<td mat-cell *matCellDef="let task">{{task.start_date | date:'dd MMM yy à HH:mm:ss' }}</td>
		</ng-container>
		<ng-container matColumnDef="progress">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>progess</th>
			<td mat-cell *matCellDef="let task">{{task.progress}} % </td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="onglet">Action</th>
			<td mat-cell *matCellDef="let task">

	   action TODO
		 </td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let task; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]">
	</mat-paginator>
</section>
</ul>
