

  <p  *ngIf="movie">
    Ingest de DCP pour le film {{ movie.title }}
    </p>

  <form [formGroup]="dcpForm" (ngSubmit)="handleSubmit()">





    <div>
      <label class="Field">Path to DCP</label>
      <button (click)="onClickMe()">Choisir un dossier</button>
      <p> {{clickMessage}} </p>
    </div>

    <div>
      <label class="Field">Type:</label>
      <mat-form-field>
      <input matInput type="text" formControlName="contentkind" required="required">
    </mat-form-field>
    </div>




       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" (click)="save()">Ingest</button>
      <button mat-raised-button color="warn" (click)="cancel()" >Cancel</button>
    </div>

  </form>
  <button (click)="onClickMe()">Choisir un dossier</button>
  <p> {{clickMessage}} </p>
  <p>
    Form Value: {{ dcpForm.value | json }}
  </p>


  <p>
    Form Status: {{ dcpForm.status }}
  </p>
