<div *ngIf="dcp">
  <form [formGroup]="dcpForm" (ngSubmit)="handleSubmit()">

    <div>
      <label class="Field">Titre:</label>
      <mat-form-field>
      <input matInput formControlName="name"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Type:</label>
      <mat-form-field>
      <input matInput type="text" formControlName="contentkind" required="required">
    </mat-form-field>
    </div>

    <div>
      <label class="Field">Taille : </label>
      <mat-form-field>
      <input matInput type="text" formControlName="size" required="required">
    </mat-form-field>
    </div>




   
       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="dcpForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" >Cancel</button>
    </div>
  </form>
  <p>
    Form Value: {{ dcpForm.value | json }}
  </p>


  <p>
    Form Status: {{ dcpForm.status }}
  </p>

</div>
