nav button:hover {
 background-color: #2a3b98;
 padding-top: 14px;
 padding-bottom: 14px;
 transition-property: left right;
 transition-duration: 0.5s;
}

nav button.active {
 background-color: #2a3b98;
 padding-top: 14px;
 padding-bottom: 14px;

}


nav button.disconnect {
 background-color: #ed2503;
     color: rgba(255, 255, 255, 0.87);


}

nav button.disconnect :hover {
      color: rgba(255, 255, 255, 0.87);
 background-color: #ed2503;
 padding-top: 14px;
 padding-bottom: 14px;
 transition-property: left right;
 transition-duration: 1.5s;
}


nav button.disconnect {
 background-color: #ed2503;
     color: rgba(255, 255, 255, 0.87);


}

nav button.disconnect :hover {
      color: rgba(255, 255, 255, 0.87);
 background-color: #ed2503;
 padding-top: 14px;
 padding-bottom: 14px;
 transition-property: left right;
 transition-duration: 1.5s;
}

.dcp-fail {
  color: red;
}
