<nav>
    <mat-toolbar color="primary" class="toolbar">

        <div> {{currentUser?.login}} </div>
    <button mat-button  routerLink="./" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Dashboard
    </button>

        <button mat-button routerLink="./dcp" routerLinkActive="active">Mes DCP</button>


        <button mat-button routerLink="./task" routerLinkActive="active">Les taches</button>

        <button mat-button routerLink="./parameters" routerLinkActive="active"> Paramètres</button>

        <button mat-button  routerLinkActive="disconnect" class="disconnect" (click)="logout()">Déconnexion</button>
    </mat-toolbar>
</nav>


<h2>Ingesteur</h2>


<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
