<div mat-card class="AffDistrib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width:300px; margin-bottom: 15px;">
          
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Nom:</strong>
    {{currentUser.exhibitor.name}}</p>

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Département:</strong>
    {{currentUser.exhibitor.dept}}</p>
          
    <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Adresse:</strong>
    {{currentUser.exhibitor.address}}</p>
          
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Mail:</strong>
    {{currentUser.email}}</p>
          
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Code Postal:</strong>
    {{currentUser.exhibitor.zipcode}}</p>


   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>ID CNC:</strong>
    {{currentUser.exhibitor.cncid}}</p>

       <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Téléphone :</strong>
    {{currentUser.exhibitor.phone}}</p>

  <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Contact :</strong>
    {{currentUser.exhibitor.contact}}</p>


   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Nombre d'écran:</strong>
    {{currentUser.exhibitor.nbscreens}}</p>


   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>IP:</strong>
    {{currentUser.exhibitor.iptinc}}</p>

  
  </div>

  <div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="width: 300px; margin-bottom: 51px;">
   

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Identifiant utilisateur :</strong>
    {{currentUser.login}}</p>   
 </div></div>