  <button mat-raised-button color="primary" routerLink="./new">Ajouter un Exploitant</button>

  <br>

  <mat-form-field>

        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search Exhibitors" #input >

  </mat-form-field>

 <div class="mat-elevation-z8 app-exhibitors-list">
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Id</th>
        <td mat-cell *matCellDef="let exhibitors">{{exhibitors.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="onglet">Name</th>
        <td mat-cell *matCellDef="let exhibitors">
         <a [routerLink]="[exhibitors.id]">{{exhibitors.city}} - {{exhibitors.name}}</a></td>
       </ng-container>

        <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef class="onglet">Departement </th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.dept}}</td>
        </ng-container>

        <ng-container matColumnDef="CNC_Code_autorised">
          <th mat-header-cell *matHeaderCellDef class="onglet">Code CNC</th>
            <td mat-cell *matCellDef="let exhibitors">{{exhibitors.cncid}}</td>
        </ng-container>

        <ng-container matColumnDef="ip_tinc">
         <th mat-header-cell *matHeaderCellDef class="onglet">IP tinc</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.iptinc}}</td>
        </ng-container>

        <ng-container matColumnDef="Nb_screen">
        <th mat-header-cell *matHeaderCellDef class="onglet">Nb écran(s)</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.nbscreens}}</td>
        </ng-container>

        <ng-container matColumnDef="free_space">
          <th mat-header-cell *matHeaderCellDef class="onglet">Espace disque disponible</th>
           <td mat-cell *matCellDef="let exhibitors">{{exhibitors.free_space}}</td>
        </ng-container>


 <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="onglet">Option</th>
         <td mat-cell *matCellDef="let exhibitors">    
           <button  mat-raised-button color="warn" class="delete" (click)="delete(Exhibitors_s)">Supprimer</button>
            <button  mat-raised-button color="link" [routerLink]="[exhibitors.id]">Editer</button>
          </td>
      </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let exhibitors; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
 </div>