<div>
  <button mat-raised-button color="link" (click)="goBack()">Retour</button>
  <mat-card class="task-card">

    <div *ngIf="task">

      <p class="title-desc">
        <strong>Task name :</strong>
        {{task.name}}</p>

      <p class="title-desc">
        <strong> Taksk id :</strong>
        {{task.id}}</p>

    </div>
  </mat-card>

</div>
