<ul class="movies">

<section *ngIf="user?.role === 'admin'">

    <mat-form-field>

        <input matInput placeholder="Search movies" #input>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div>

<nav mat-tab-nav-bar>
 <!-- <mat-tab label="Film"> </mat-tab>-->
    <a mat-tab-link class="Navig" label="Movie" [routerLink]="['/home']"> Film </a>
  <a mat-tab-link class="Naviga" label="Dcp" [routerLink]="['/dcp']"> DCP </a>
    <a mat-tab-link class="Naviga" label="Sortie" [routerLink]="['/sortie-national']"> Sortie National </a>
     <a mat-tab-link class="Naviga" label="Sortie" [routerLink]="['/selection']"> Selection </a>
</nav>

    <div class="movies-table mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSource" matSort aria-label="DCP">
            <ng-container matColumnDef="affiche">
                <th mat-header-cell *matHeaderCellDef>Affiche</th>
                <td mat-cell *matCellDef="let movie">
                    <img width="80px;" height="100px;" src="assets/img/img-{{movie.id}}.jpg"/>
                    <a routerLink="/movie/detail/{{movie.id}}">
                    </a></td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef >Id</th>
                <td mat-cell *matCellDef="let movie">{{movie.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let movie">
                <a routerLink="/movie/detail/{{movie.id}}">{{movie.title}}
                </a></td>
            </ng-container>


<!--<ng-container matColumnDef="distributors">
                <th mat-header-cell *matHeaderCellDef>Distributors</th>
                <td mat-cell *matCellDef="let distributors">
                <a routerLink="distributors/detail/{{distributors.id}}">{{distributors.name}}
                </a></td>
            </ng-container>-->

        <!-- <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date de Sortie </th>
                <td mat-cell *matCellDef="let ...">
                </td>
            </ng-container>-->

        <!-- <ng-container matColumnDef="FTR">
                <th mat-header-cell *matHeaderCellDef>FTR Disponible(s) </th>
                <td mat-cell *matCellDef="let ...">
                </td>
            </ng-container>-->

        <!-- <ng-container matColumnDef="TLR">
                <th mat-header-cell *matHeaderCellDef>TLR Disponible(s) </th>
                <td mat-cell *matCellDef="let ...">
                </td>
            </ng-container>-->

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Option</th>
                <td mat-cell *matCellDef="let movie">    
                    <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
                    <button  mat-raised-button color="link" routerLink="/movie/edit/{{movie.id}}">Editer</button>  
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let movie; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator #paginator [length]="nbMovies"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
    </div>
</section>
</ul>