<section *ngIf="user?.role === 'admin'">

<mat-card class="AffDistrib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width:300px; margin-bottom: 15px;">
    
    
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Distributeur :</strong>
    {{distributor.name}}</p>
          
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Partenaire ? :</strong>
    {{distributor.partners}}</p>
             
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Mail:</strong>
    {{distributor.email}}</p>
          
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Contact :</strong>
    {{distributor.contact}}</p>
  
  </div>

  <div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="width: 300px; margin-bottom: 51px;">
   
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Numéro :</strong>
    {{distributor.number_contact}}</p>   
    
   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Code CNC :</strong>
    {{distributor.cnc_code}}</p>   

   <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
    <strong>Identifiant utilisateur :</strong>
    {{distributor.login}}</p>   


<div>
  <button  mat-raised-button color="warn" class="delete" (click)="delete(distrib_s)">Supprimer</button>
  <button  mat-raised-button color="link" routerLink="/distributors/edit/{{distributor.id}}">Editer</button>  

  <button mat-raised-button color="link" (click)="goBack()">Retour</button>
</div>
</div>
</mat-card> 
</section>