<div id="search-component">
	<h4>Recherche du film</h4>

	<input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

	<ul class="search-result">
		<li *ngFor="let exhib of exhib$ | async" >
			<a routerLink="/detail_exhibitors/{{exhib.id}}">
				{{exhib.name}}
			</a>
		</li>
	</ul>
</div>