<div *ngIf="Message_Service.messages.length">

  <h2>Messages</h2>
  <button class="clear"
          (click)="Message_Service.clear()">clear</button>
  <div *ngFor='let message of Message_Service.messages'> {{message}} </div>

</div>