
	<ul>
		<button mat-raised-button color="primary" routerLink="./new"
		routerLinkActive="active">
		Ajouter un DCP
	</button>
	</ul>

	<mat-form-field>

		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search dcps" #input>
	</mat-form-field>

	<table mat-table [dataSource]="dataSource" matSort>
		<ng-container matColumnDef="id">
			<th mat-header-cell class="onglet" *matHeaderCellDef mat-sort-header>Id</th>
			<td mat-cell *matCellDef="let dcp">{{dcp.id}}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>DCP</th>
			<td mat-cell *matCellDef="let dcp">
				<a [routerLink]="[dcp.id]">{{dcp.name}}</a></td>
		</ng-container>

		<ng-container matColumnDef="contentkind">
			<th mat-header-cell *matHeaderCellDef class="onglet" mat-sort-header>Type</th>
			<td mat-cell *matCellDef="let dcp">
				{{dcp.contentkind}}
			</td>
		</ng-container>

		<ng-container matColumnDef="size">
			<th mat-header-cell *matHeaderCellDef class="onglet">Taille</th>
			<td mat-cell *matCellDef="let dcp">
				{{ dcp.size | filesize }}
			</td>
		</ng-container>

   <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="onglet">Option</th>
                <td mat-cell *matCellDef="let dcp">
                    <button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>
                    <button  mat-raised-button color="link" [routerLink]="[dcp.id]">Editer</button>
                </td>
            </ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let dcp; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]">
	</mat-paginator>
