.Navig {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;

}


.Naviga {


  color: black !important;
  background: #e6e6e6 !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  margin-left: 3px !important;
}


nav :hover {


  color: black !important;
  background: #bababa !important;
  border-bottom-style: solid !important;
  border-bottom-color: #0f00ff !important;
  border-bottom-width: thick !important;

}

.negative {color: red;}

.positive {color: green;}


.dcp {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.dcp li {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.dcp tr {
  position: relative;
  cursor: pointer;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}


.onglet   {
  background-color: #EEE;
  font : caption;
  padding-right: 320px;
  padding-bottom: 5px;
  padding-top: 5px;

}

.dcp li:hover {
  color: #607D8B;
  
  left: .1em;
}

.dcp tr:hover {
  color: #607D8B;

  left: .1em;
}


.dcp a {
  color: #888;
  text-decoration: none;
  display: block;
}

.dcp a:hover {
  color:#015d86;
}

.dcp .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #0173ab;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}



.dcp li.selected {
  background-color:;
  color: white;
}
.dcp li.selected:hover {
  background-color: #BBD8DC;
}

