<form [formGroup]="exhibitorForm" (ngSubmit)="handleSubmit()">
    
    
    <div>
      <label class="Field">Nom :</label>
      <mat-form-field>
      <input matInput formControlName="name"
      required="required">
      </mat-form-field>
    </div>

    <div>
      <label class="Field">Contact :</label>
      <mat-form-field>
      <input matInput formControlName="contact" required="required">
      </mat-form-field>
    </div>
             
    <div>
      <label class="Field">Id CNC :</label>
      <mat-form-field>
      <input matInput formControlName="cncid"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">Adresse :</label>
      <mat-form-field>
      <input matInput formControlName="address"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">Ville :</label>
      <mat-form-field>
      <input matInput formControlName="city"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">Département :</label>
      <mat-form-field>
      <input matInput formControlName="dept"
      required="required">
      </mat-form-field>
    </div> 

    <div>
      <label class="Field">Ip Tinc :</label>
      <mat-form-field>
      <input matInput formControlName="iptinc"
      required="required">
      </mat-form-field>
    </div> 
   
       <div class="button" style="margin-left: 520px;">
      <button mat-raised-button color="primary" type="submit" [disabled]="exhibitorForm.pristine" (click)="save()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>
  
  <p>
    Form Value: {{ exhibitorForm.value | json }}
  </p>


  <p>
    Form Status: {{ exhibitorForm.status }}
  </p>



