<div>
  <div [ngSwitch]="dcp.ingest_dcp_state_value">
    <div *ngSwitchCase="1">
      <span class="text-warning">
        NON FAIT
      </span>
    </div>

    <div *ngSwitchCase="2">
      <span class="text-info">
        <mat-spinner [diameter]="20.0">
        </mat-spinner>
        En cours
        <div *ngIf="dcp.task">
          ( {{dcp.task.progress}} %)
        </div>

      </span>
    </div>

    <div *ngSwitchCase="3">
      <span class="text-success"> OK! </span>
    </div>
    <div *ngSwitchCase="4">
      <span class="text-danger">
        <strong> ERREUR </strong>
      </span>
    </div>

    <div *ngSwitchCase="5">

      <span class="text-info">
        En attente
      </span>
    </div>

    <div *ngSwitchDefault>
      {{dcp.ingest_dcp_state_name}} ({{dcp.ingest_dcp_state_value}})
    </div>

  </div>

</div>
