<section *ngIf="user?.role === 'admin'">
<div class=NewFormDistributors>
  <form [formGroup]="signDistrib" (ngSubmit)="onSubmit()" novalidate>

  <div class="ChampFormulaireDistributors" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">

      <p>Nom du Distributeur</p>
        <mat-form-field>
        <input matInput formControlName="name" required="required" placeholder="Obligatoire">
        </mat-form-field>

      <p>Partenaire ? :</p>
        <mat-form-field>
        <mat-select formControlName="partners"required="required" placeholder="Obligatoire">
        <mat-option *ngFor="let partners of Partenaire" [value]="partners">{{partners}}</mat-option>   
        </mat-select>
        </mat-form-field>

      <p>Nom du Contact</p>
        <mat-form-field>
        <input matInput formControlName="user_contact"required="required" placeholder="Obligatoire">
        </mat-form-field>

      <p>Numéro du Contact</p>
        <mat-form-field>
        <input matInput formControlName="number_contact"required="required" placeholder="Obligatoire">
        </mat-form-field>

      <p>Mail du Contact</p>
        <mat-form-field>
        <input matInput formControlName="mail"required="required" placeholder="Obligatoire">
        </mat-form-field>

      <p>Code CNC</p>
        <mat-form-field>
        <input matInput formControlName="CNC_Code" required="required" placeholder="Obligatoire">
        </mat-form-field>

    <div>
    <button mat-raised-button color="primary"  type="submit" [disabled]="signDistrib.pristine">Enregistrer</button>
    
    <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="signDistrib.pristine">Annuler</button>
 </div>
 </div>   
</form>
</div>
</section>

<!--
<p>Form value: {{ signDistrib.value | json }}</p>
-->