    <form [formGroup]="signMovie" (ngSubmit)="onSubmit()" novalidate>
       
     <div>
      <label class="Field">Nom du film:</label>
          <mat-form-field>
          <input matInput formControlName="title"
          required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Synopsis:</label>
          <mat-form-field>
          <input matInput formControlName="synopsis" required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Réalisateur:</label>
          <mat-form-field>
          <input matInput formControlName="director" required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Scénario:</label>
          <mat-form-field>
          <input matInput formControlName="scenario"required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Acteur:</label>
          <mat-form-field>
          <input matInput formControlName="actor"required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Pays:</label>
          <mat-form-field>
          <input matInput formControlName="country"required="required">
          </mat-form-field>
      </div>

      <div>
      <label class="Field">Distributeur associé:</label>
        <mat-form-field>
        <mat-select  formControlName="distributorsList" required="required">
       <mat-option [value]="distributors" 
                *ngFor="let distributors of dataSourceDistributors">
                {{distributors.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    <div class="button" style="margin-left: 520px;">
          <button mat-raised-button color="primary" type="submit" [disabled]="signMovie.pristine">Enregistrer</button>
           <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="signMovie.pristine">Annuler</button>
         </div>
    
  </form>

<!--
<p>Form value: {{ signMovie.value | json }}</p>
-->
