<section *ngIf="user?.role === 'admin'">
<div class=NewFormExhibitors>
<form [formGroup]="signExhibitors" (ngSubmit)="onSubmit()" novalidate>

      <div class="ChampFormulaireExhibitors" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="right">

    <p>Nom de l'exploitant:</p>
    <mat-form-field>
    <input matInput formControlName="name"required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Login Tuco:</p>
    <mat-form-field>
    <input matInput formControlName="log" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Mot de passe Tuco:</p>
    <mat-form-field>
    <input matInput formControlName="pass" 
    required="required" placeholder="Obligatoire">
    </mat-form-field>


    <p>email:</p>
    <mat-form-field>
    <input matInput formControlName="mail"required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Code Autorisation du CNC</p>
    <mat-form-field>
    <input matInput formControlName="CNC_Code_autorised" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Contact:</p>
    <mat-form-field>
    <input matInput formControlName="name_contact" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Téléphones</p>
    <mat-form-field>
    <input matInput formControlName="number_contact" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Adresse:</p>
    <mat-form-field>
    <input matInput formControlName="address_contact" required="required" placeholder="Obligatoire">
    </mat-form-field>


    <p>Code postal:</p>
    <mat-form-field>
    <input matInput formControlName="ZIP_Code"required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Ville:</p>
    <mat-form-field>
    <input matInput formControlName="town"required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Departement:</p>
    <mat-form-field>
    <input matInput formControlName="department" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>Nombre(s) d ecrans:</p>
    <mat-form-field>
    <input matInput formControlName="Nb_screen" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <p>IP tinc:</p>
    <mat-form-field>
    <input matInput formControlName="ip_tinc" required="required" placeholder="Obligatoire">
    </mat-form-field>

    <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="signExhibitors.pristine">Enregistrer</button>

    <button mat-raised-button color="warn" type="reset" (click)="revert()" [disabled]="signExhibitors.pristine">Annuler</button>
</div>
</div>
</form>
</div>
</section>
<!--<p>Form value: {{ signExhibitors.value | json }}</p>
-->
