<div mat-card class="AffDistrib" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

  <div class="positionOfdesc" fxLayout="column" fxLayoutAlign="left" fxLayoutGap="0.5%" style="width:300px; margin-bottom: 15px;">

    <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
      <strong>Mail:</strong>
      {{currentUser.email}}</p>
    <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
      <strong>Contact :</strong>
      {{currentUser.distributor.contact}}</p>
  </div>

  <div class="positionOfdesc2" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="width: 300px; margin-bottom: 51px;">

    <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
      <strong>Code CNC :</strong>
      {{currentUser.distributor.cnc_code}}</p>

    <p class="title-desc" style="margin-bottom:0.5%; border-bottom: 0.5px solid #cecece;">
      <strong>Identifiant utilisateur :</strong>
      {{currentUser.login}}</p>
  </div>


  <movie-recent [distributor]="currentUser.distributor">
  </movie-recent>

</div>



 <button mat-raised-button id="openFile" onclick="openFile();">Open a file</button>

 <button mat-raised-button id="openFolder" onclick="openFolder();">Select Folder</button>

 <button (click)="onClickMe()">Choisir un dossier</button>
 <p> {{clickMessage}} </p>
