<div *ngIf="movie">

<mat-card class="AffDesc" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">

	<div fxLayout="row" class="positionOfImg" style="margin-right: 20px;flex-direction: row;box-sizing: border-box;display: flex;padding-right: -10px;margin-bottom: 110px;">
		<img width="265px;" height="350px;" src="assets/img/img-{{movie.id}}.jpg"onerror="this.src='/assets/img/default.png'"/>
	</div>


	<div class="positionOfdesc"
	 	style="margin-right: 20px!important;
	    flex-direction: column !important;
	    box-sizing: border-box !important;
	    min-width: 300px !important;
	    flex: 1 1 100px !important;
	    padding-left: 10px !important;">

					<p class="title-desc">
    				<strong>ID :</strong>
					{{movie.id}}</p>

					<p class="title-desc" *ngIf="movie.title">
    				<strong>TITRE :</strong>
					{{movie.title}}</p>

					<p class="title-desc" *ngIf="movie.original_title">
    				<strong>Titre Original :</strong>
					{{movie.original_title}}</p>

					<p class="title-desc" *ngIf="movie.releasedate">
    				<strong>Date de sortie :</strong>
					{{movie.releasedate | date:'dd MMMM y'}}</p>

					<p class="title-desc" *ngIf="movie.distributor">
    				<strong>Distributeurs : </strong>
    				{{movie.distributor.name}}</p>

					<p class="title-desc" *ngIf="movie.director">
    				<strong>Réalisateur :</strong>
					{{movie.director}}</p>

					<p class="title-desc" *ngIf="movie.scenario">
    				<strong>Scénariste :</strong>
					{{movie.scenario}}</p>

					<p class="title-desc" *ngIf="movie.actor">
    				<strong>Acteurs :</strong>
					{{movie.actor}}</p>

					<p class="title-desc" *ngIf="movie.country">
    				<strong>Pays :</strong>
					{{movie.country}}</p>
	</div>


	<div class="positionOfdesc2"
		style="margin-right: 20px !important;
		flex-direction: column !important;
		box-sizing: border-box !important;
		display: flex !important;
		width: 550px !important;
		height: 440px !important;
		place-content: stretch flex-start !important;">


		<p class="title-desc" *ngIf="movie.synopsis">
    	<strong>Synopsis :</strong>
		{{movie.synopsis}}</p>

	</div>

	<div class="positionOfButton"
	style="display: flex !important;
		position: absolute !important;
		padding-left: 850px !important;
		padding-top: 370px !important;">

		<button mat-raised-button color="link" (click)="goBack()">Retour</button>
		<button mat-raised-button color="link" routerLink="/movie/edit/{{movie.id}}">Editer</button>
		<button  mat-raised-button color="warn" class="delete" (click)="delete(movie_s)">Supprimer</button>

	</div>
</mat-card>




<h2>DCPs :  </h2>

<mat-card>
<table  class="mui-table mui-table--bordered">
	<thead>
		<th>ID</th>
		<th>Nom</th>
		<th>Type</th>
		<th>Taille</th>
	</thead>

	<tbody>
		<tr *ngFor="let dcp of movie.dcps">
		<td>{{dcp.id}}</td>
		<td>{{dcp.name}}</td>
		<td>{{dcp.contentkind}}</td>
		<td>{{dcp.size | filesize}}</td>
		</tr>
	</tbody>
</table>
</mat-card>
</div>
