mat-card {

    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: flex;
    position: relative;
    padding: 24px;
    border-radius: 2px;}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

mat-card {
  box-shadow: 10px 10px 5px #656565;
}

div .positionOfImg {


}

div .positionOfdesc {

    
    margin-right: 20px !important;
    flex-direction: column !important;
    box-sizing: border-box !important;
    display: flex !important;
    max-width: 400px !important;
    place-content: stretch flex-start !important;
    align-items: stretch !important;
    flex: 1 1 100px !important;
    padding-left: 10px !important;
    padding-bottom: -20px !important;
    margin-top: 20px !important;
    min-width: 100px !important;
    padding-top: 10px !important;

}

div .positionOfdesc2 {
  
    margin-top: -365px !important;
    padding-right: 130px !important;
    
}
 

div .positionOfButton{


}


.title-desc {
 padding-bottom: 0.46875rem !important;
margin-bottom: 0.46875rem !important;
border-bottom: 0.5px solid #cecece;
font-size: 1rem;
}



table {


  font-size:12px;
  margin:20px;
  border:#ccc 1px solid;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

}

table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}

table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}

table tr {
  text-align: left;
  padding-left:20px;
}
tabl
e td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

}


table tr:last-child td {
  border-bottom:0;
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}